body {
<<<<<<< Updated upstream
    color: maroon;
=======
    color: rgb(245, 2, 184);
>>>>>>> Stashed changes
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 150%;
    margin: 5em 25%;
     }
 }